h1{
  font-family: 'Lucida Console';
}
h1.white{
  color: white;
}
label{
  font-family: 'Lucida Console';
}
label.white{
  color: #eeeeee;
}
.whiteConsole{
  font-family: 'Lucida Console';
  color: #eeeeee;
}
.blackConsole{
  font-family: 'Lucida Console';
  color: #000000;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: linear-gradient(to left, black, rgba(255, 255, 255, 0.734));
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 50px
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
div.loading {
  background-color: red;
  position: relative;
  width:10px;
  height:30px;
  animation: loading 2s ease-in-out infinite;
}

/* Standard syntax */
@keyframes loading {
  0%   {background-color:#FFFF00; left:0%;top:0%;transform:rotate(0deg);opacity:0.2}
  50%  {background-color:#380B61; left:30%;top:50%;transform:rotate(540deg);opacity:0.8}
  100% {background-color:#40FF00; left:60%;top:50%;transform:rotate(1080deg);opacity:0}
}
